* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    background: none;
    background-size: cover;
    background-position: bottom;
    transition: 0.4s;
}

main {
    min-height: 100vh;
    padding: 25px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.75));
}

main.day {
    background: url('https://www.gorodlaminata.ru/upload/iblock/40f/40f824f9cd0fdca61b99e17bff121b6b.jpg');
}

main.night {
    background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612554383_209-p-serii-gradientnii-fon-fotoshop-251.jpg  ');
    background-size: cover;
    background-position: bottom;
}

.welcome {
    color: #ff9c9c;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0 0 20px 0;
}

.search-bar {
    min-width: 100px;
}

.search-box,
.nasa {
    border: 0;
    width: 40%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.search-box .search-bar,
.nasa {
    text-align: center;
    padding: 15px;
    color: #300;
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.5);
    transition: .4s;
}

.location-box .location {
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.5);
}

.location-box .date {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.weather-enter-active,
.weather-leave-active .elems-nasa-enter-active,
.elems-nasa-leave-active {
    transition: opacity .5s;
}

.weather-enter,
.weather-leave-to,
.elems-nasa-enter,
.elems-nasa-leave-to {
    opacity: 0;
}

.weather-box {
    text-align: center;
}

.weather-box .weather {
    display: flex;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(233 141 141);
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.btn-nasa {
    padding: 15px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 5px;
    border: 0;
    color: white;
    display: flex;
    background-color: rgb(233 141 141);
    align-items: center;
    transition: .3s;
}

.elem-nasa.false {
    display: none;
}

.nasa {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
}

.elem-nasa {
    display: block;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px;
    margin: 10px auto;
}

.elem-nasa img {
    border-radius: 5px;
}

@media (max-width: 407px) {
    .nasa {
        font-size: 17px;
    }
    .weather-box .weather {
        padding: 5px 15px;
    }
}

@media (max-width: 750px) {
    .weather-box .weather {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .elem-nasa img {
        height: auto;
        width: 100%;
    }
}